

cli admin-partitions {
    update-partition Common
}
sys application template /Common/a-test-iapp-irules-http {
    actions {
        definition {
            html-help {
            }
            implementation {
                set app $tmsh::app_name

#create  pool
set poolmembers ""

foreach row $::pool__members {
    array set columns [lindex $row 0]
    set ip $columns(addr)
    set port $columns(port)
    append poolmembers "$ip:$port" " "
}

set poolname ${app}_pool
tmsh::create ltm pool ${poolname} members add \{ ${poolmembers} \} monitor tcp


set irulesname ${app}_irule
tmsh::create ltm rule ${irulesname} $::pool__irules

#create  VS
set vsname ${app}_vs
tmsh::create ltm virtual ${vsname} destination $::pool__addr:$pool__port pool ${poolname} profiles add \{ http \} rules \{ ${irulesname} \} source-address-translation \{ type automap \}
            }
            macro {
            }
            presentation {
                section pool {
    string addr display "xxlarge" required validator "IpAddress"
    string port display "small" required default "80" validator "PortNumber"
    table hosts {
       string name validator "FQDN" display "xlarge"
    }
    table members {
        string addr display "large" required default "" validator "IpAddress"
        string port display "small" required default "80" validator "PortNumber"
        string connection_limit display "small" required default "0" validator "NonNegativeNumber"
    } 
    string irules required
}
text { 
    pool "Virtual Server and Pools"
    pool.addr "What IP address do you want to use for the virtual server?"
    pool.port "What port do you want to use for the virtual server?"
    pool.hosts "What FQDNs will clients use to access the servers?"
    pool.hosts.name "Host"
    pool.members "Which web servers should be included in this pool?"
    pool.members.addr "Node/IP address"
    pool.members.port "Port"
    pool.members.connection_limit "Connection limit"
    pool.irules "irules content"
}
            }
            role-acl none
            run-as none
        }
    }
    description none
    ignore-verification false
    requires-bigip-version-max none
    requires-bigip-version-min none
    requires-modules { ltm }
    signing-key none
    tmpl-checksum none
    tmpl-signature none
}
